<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>xTerminal</title>
  <link rel="icon" type="image/png" sizes="16x16" href="static/logo.png">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="static/js/socket.io.js"></script>
  <script src="static/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<div id="container">
  <div class="banner"></div>
  <output></output>
  <div id="input-line" class="input-line">
    <div class="prompt"></div>
    <div><input class="cmdline" autofocus/></div>
  </div>
</div>
<script src="static/js/bundle.js"></script>
</body>
</html>